@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cad7de; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@layer components {
  .message_me {
    @apply justify-start flex-row-reverse
  }

  .message_me h3{
    @apply text-right flex flex-row-reverse gap-5 items-center
  }

  .message_me .message_content {
    @apply bg-primary text-white rounded-tr-none
  }

  .message .message_content{
    @apply bg-gray-200 rounded-tl-none text-black
  }
  .blur-avatar {
    @apply relative
  }
  .blur-avatar::before {
    /* @apply absolute left-0 top-0 h-full w-full rounded-2xl shadow-blur-avarta */
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: inset 0 -25px 40px 6px rgb(0 0 0 / 80%);
  }
  .message_active {
    @apply bg-[#eff7fe] border-l-4 border-primary
  }
  .h-recent {
    height: calc(100% - 253px);
    overflow: scroll;
  }
}